In [5]:
import numpy as np

In [6]:
import pandas as pd

In [7]:
from sklearn import tree

In [8]:
df=pd.read_excel("C:\\Users\\rcmlp.12\\Desktop\\pirep delay\\nodes_out_extended_tree.xlsx")

In [9]:
df

,Unnamed: 0,Row Labels,Target,202110_int,202111_int,202112_int,Q1_int,Q2_int,Q3_int,Q4_int,...,202110_Repeat,202111_Repeat,202112_Repeat,Q1_Repeat,Q2_Repeat,Q3_Repeat,Q4_Repeat,half_yearly_1_Repeat,half_yearly_2_Repeat,Yearly_Repeat
0,0,N1013A,0,7,12,1,13,15,15,13,...,5,7,0,5,17,1,8,18,1,1
1,1,N1093A,0,9,11,1,13,17,18,13,...,3,1,0,18,3,1,5,5,1,1
2,2,N1181A,0,7,10,5,15,13,15,4,...,3,6,0,8,3,1,8,15,1,1
3,3,N1229A,0,10,7,1,13,14,18,9,...,6,17,0,8,3,1,16,15,1,1
4,4,N1321A,0,10,10,1,16,14,18,4,...,6,1,0,5,3,1,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,102,N855GT,0,7,12,1,13,15,16,13,...,18,7,0,17,17,16,12,18,4,17
103,103,N856GT,0,10,9,1,13,18,15,4,...,3,1,0,16,3,5,5,5,1,1
104,104,N857GT,0,10,9,1,13,6,14,6,...,15,6,0,16,6,17,17,15,18,17
105,105,N858GT,0,7,12,7,6,13,18,6,...,5,7,0,8,6,1,8,14,1,11
106,106,N859GT,0,10,11,1,16,7,17,13,...,3,1,0,16,6,1,5,15,1,1

In [10]:

df=df.iloc[:,1:103]
listc=df.columns
listc

Index(['Row Labels', 'Target', '202110_int', '202111_int', '202112_int',
       'Q1_int', 'Q2_int', 'Q3_int', 'Q4_int', 'half_yearly_1_int',
       ...
       '202110_Repeat', '202111_Repeat', '202112_Repeat', 'Q1_Repeat',
       'Q2_Repeat', 'Q3_Repeat', 'Q4_Repeat', 'half_yearly_1_Repeat',
       'half_yearly_2_Repeat', 'Yearly_Repeat'],
      dtype='object', length=102)

In [11]:
Y=df.iloc[:,1:2]
totalIVlist=[]
colname=[]
for l in range(2,101):
    X=df.iloc[:,l:l+1]
    df_=pd.merge(Y,X,left_index=True,right_index=True)
    list1=[]
    count0list=[]
    count1list=[]
    for i,j in df_.iterrows():
        count0=0
        count1=0
        a=j[listc[l]]
        if j[listc[l]] in list1:
            pass
        else:
            list1.append(a)
            for b,z in df_.iterrows():
                if a==z[listc[l]]:
                    if z['Target']==0:
                        count0=count0+1
                    else:
                        count1=count1+1
            count0list.append(count0)
            count1list.append(count1)
    pivot=pd.DataFrame({'nodes':list1,'0':count0list,'1':count1list})
    pivot=pivot.sort_values(by=['nodes'])
    pivot['Grand Total']=pivot['0']+pivot['1']
    pivot['percent_G']=pivot['0']/pivot['Grand Total']
    pivot['% of Good']=pivot['0']/86
    pivot['percent_B']=pivot['1']/pivot['Grand Total']
    pivot['% of Bad']=pivot['1']/21
    pivot['%G-%B']=pivot['% of Bad']-pivot['% of Good']
    pivot['WOE']=np.log(pivot['% of Bad']/pivot['% of Good'])
    pivot['IV']=pivot['WOE']*pivot['%G-%B']
    pivot.replace([np.inf, -np.inf], np.nan, inplace=True)
    totalIV=pivot['IV'].sum()
    totalIVlist.append(totalIV)
    colname.append(listc[l])
table=pd.DataFrame({'name':colname,'IV':totalIVlist})
table

C:\Users\rcmlp.12\Anaconda3\lib\site-packages\pandas\core\arraylike.py:358: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

                    name        IV
0             202110_int  0.359145
1             202111_int  0.993008
2             202112_int  1.260573
3                 Q1_int  0.343425
4                 Q2_int  0.716790
..                   ...       ...
94             Q2_Repeat  0.986588
95             Q3_Repeat  2.023373
96             Q4_Repeat  1.661484
97  half_yearly_1_Repeat  1.534607
98  half_yearly_2_Repeat  2.326909

[99 rows x 2 columns]

In [12]:
table.to_excel('IV_Value_Tab.xlsx')

In [13]:
pivot['Grand Total']=pivot['0']+pivot['1']
pivot['percent_G']=pivot['0']/pivot['Grand Total']
pivot['% of Good']=pivot['0']/86
pivot['percent_B']=pivot['1']/pivot['Grand Total']
pivot['% of Bad']=pivot['1']/21
pivot['%G-%B']=pivot['% of Bad']-pivot['% of Good']
pivot['WOE']=np.log(pivot['% of Bad']/pivot['% of Good'])
pivot['IV']=pivot['WOE']*pivot['%G-%B']
pivot.replace([np.inf, -np.inf], np.nan, inplace=True)
totalIV=pivot['IV'].sum()
totalIV

C:\Users\rcmlp.12\Anaconda3\lib\site-packages\pandas\core\arraylike.py:358: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

2.3269087554683656